body {
	background-color: rgb(8, 8, 9);
	#293133;
}
h1, h2 {
  margin: 20px;
  color: #cc181e;
}

h2 {
  font-size: 20px;
}

h1, .loop {

}

.loop {
  position: absolute;
  right: 20px;
  top: 25px;
  margin: 0 0 15px;
}

.search {
  background: #cc181e;
  color: #fff;
  font-size: 19px;
}

.search::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff !important;
}


.search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
}

.search::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff !important;
}

.search:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff !important;
}

#searchcontainer {
  margin: 0 20px;
}

#playerContainer,
#searchResultsContainer,
#playlistContainer {
  float: left;
  color: #FFF0F5;
}

#searchResultsContainer {
  width: 250px;
  margin-left: 20px;
}

#searchResultsContainer h2 {
  margin-left: 0;
}

#playerContainer h2 {
  max-width: 600px;
}

#searchResults {
  padding-left: 10px;
}
li.searchResult {
  list-style-type: none;
  padding: 0;
}

#searchResults {
  height: 600px;
  overflow-y: auto;
  padding-right: 10px;
}

#searchResults img {
  width: 100%;
}

#playlistContainer {
  width: 250px;
}

#playlistContainer h2,
.clearPlaylist,
#searchResultsContainer h2,
.clearSearchResults {
  display: inline-block;
}

#playlist {
  height: 600px;
  overflow-y: auto;
  padding: 0 20px;
  position: relative;
}

.clearPlaylist,
.clearSearchResults {
  font-size: 13px;
}

#playlist .remove {
  position: absolute;
  top: 0px;
  right: 3px;
  color: #fff;
}

#playlist img {
  width: 100%;
}

.searchResult:hover,
.playlistItem:hover,
#related:hover,
.clearPlaylist,
.clearSearchResults {
  cursor: pointer;
}

.searchResult {
  padding: 5px;
}

.playlistItem {
  padding: 5px;
  position: relative;
}

.playlistItem.active {
  background: #cc181e;
  color: #fff;
}

#player {
  margin: 0 20px;
}
#relatedContainer {
  margin: 0 20px;
}

#relatedContainer h2 {
  margin: 5px 0;
}

#related {
  /*display: inline-block;*/
  float: left;
  width: 200px;
  margin: 10px 20px 0 0;
}

#related img {
  width: 100%;
}

