<!doctype html>
<html ng-app="app">

  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap-angular/ui-bootstrap-0.7.0.min.js"></script>
    <script src="angular-youtube-player-api.js"></script>
    <script src="app.js"></script>
  </head>

  <body>

    <div ng-controller="YoutubeCtrl">

      <h1>FastTube</h1>
      <div class="btn-group loop">
        <button type="button" class="btn btn-primary btn-xs" ng-model="loop" btn-radio="'none'">Don't loop</button>
        <button type="button" class="btn btn-primary btn-xs" ng-model="loop" btn-radio="'one'">Loop one</button>
        <button type="button" class="btn btn-primary btn-xs" ng-model="loop" btn-radio="'all'">Loop all</button>
    </div>

      <div id="searchcontainer">
        <form ng-submit="search(q)">
          <input tabindex="1" type="text" ng-model="q" ng-change="search(q)" placeholder="Search youtube" class="form-control search" autofocus>
        </form>
      </div>

      <div id="searchResultsContainer">
        <h2>Search results ({{searchResults.length}})</h2>
        <ul id="searchResults">
          <li ng-repeat="searchResult in searchResults" ng-click="addToPlaylist(searchResult)" class="searchResult" tabindex="{{ $index*10 + 1 }}">
            <img ng-src="{{searchResult.thumbnail}}">
            <div>{{searchResult.title}}</div>
          </li>
        </ul>
      </div>

      <div id="playlistContainer">
        <h2>Playlist  ({{playlist.length}})</h2><a ng-click="clearPlaylist()" class="clearPlaylist" ng-show="playlist.length">Clear</a>
        <div id="playlist">
          <div ng-repeat="item in playlist track by $index" ng-click="play(item.hash)" class="playlistItem" ng-class="{active:isActive(item)}">
            <img ng-src="{{item.thumbnail}}">
            <div><a ng-click="deleteFromPlaylist(item.hash)">[X]</a> {{item.title}}</div>
          </div>
        </div>
      </div>

      <div id="playerContainer">
        <h2>{{currentTitle}}</h2>
        <div youtube-player id="player"></div>

        <div id="relatedContainer" ng-show="current">
          <h2>Related</h2>
          <div id="related" ng-repeat="item in related" ng-click="addToPlaylist(item)">
            <img ng-src="{{item.thumbnail}}">
            <div>{{item.title}}</div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>